In [1]:
import pandas as pd
df = pd.read_json(r'C:\Users\Mallika Yeturi\Downloads\Sarcasm_Headlines_Dataset.json', lines=True)
df.head()

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [2]:
df = df.drop(['article_link'], axis=1)
df.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

In [3]:
df['len'] = df['headline'].apply(lambda x: len(x.split(" ")))
df.head()

                                            headline  is_sarcastic  len
0  former versace store clerk sues over secret 'b...             0   12
1  the 'roseanne' revival catches up to our thorn...             0   14
2  mom starting to fear son's web series closest ...             1   14
3  boehner just wants wife to listen, not come up...             1   13
4  j.k. rowling wishes snape happy birthday in th...             0   11

In [4]:
import numpy as np
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Dense, Input, LSTM, Embedding, Dropout, Activation, Flatten, Bidirectional, GlobalMaxPool1D
from tensorflow.keras.models import Model, Sequential

C:\Users\Mallika Yeturi\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
max_features = 10000
maxlen = 25
embedding_size = 200

In [6]:
tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(list(df['headline']))
X = tokenizer.texts_to_sequences(df['headline'])
print("Number of Samples:", len(X))
print(X[0])
X = pad_sequences(X, maxlen = maxlen)
y = np.asarray(df['is_sarcastic'])
print("Number of Labels: ", len(y))
print(y[0])

Number of Samples: 26709
[307, 678, 3336, 2297, 47, 381, 2575, 5, 2576, 8433]
Number of Labels:  26709
0

In [7]:
num_words = len(tokenizer.word_index) + 1
print(num_words)

29657

In [ ]:
EMBEDDING_FILE = '/content/drive/MyDrive/glove.6B.200d.txt'

embeddings = {}
for o in open(EMBEDDING_FILE):
    word = o.split(" ")[0]
    # print(word)
    embd = o.split(" ")[1:]
    embd = np.asarray(embd, dtype='float32')
    # print(embd)
    embeddings[word] = embd

# create a weight matrix for words in training docs
embedding_matrix = np.zeros((num_words, 200))

for word, i in tokenizer.word_index.items():
	embedding_vector = embeddings.get(word)
	if embedding_vector is not None:
		embedding_matrix[i] = embedding_vector

In [ ]:
len(embeddings.values())

400000

In [ ]:
model = Sequential()
model.add(Embedding(num_words, embedding_size, weights = [embedding_matrix]))
model.add(Bidirectional(LSTM(128, return_sequences = True)))
model.add(Dense(128, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(64, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(1, activation="sigmoid"))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

batch_size = 40
epochs = 5
history = model.fit(X, y, batch_size=batch_size, epochs=epochs, validation_split=0.2)

Train on 21367 samples, validate on 5342 samples
Epoch 1/5
21367/21367 [==============================] - 129s 6ms/sample - loss: 0.4179 - accuracy: 0.8085 - val_loss: 0.3394 - val_accuracy: 0.8496
Epoch 2/5
21367/21367 [==============================] - 120s 6ms/sample - loss: 0.2368 - accuracy: 0.9079 - val_loss: 0.3430 - val_accuracy: 0.8645
Epoch 3/5
21367/21367 [==============================] - 119s 6ms/sample - loss: 0.1522 - accuracy: 0.9435 - val_loss: 0.3625 - val_accuracy: 0.8622
Epoch 4/5
21367/21367 [==============================] - 120s 6ms/sample - loss: 0.0933 - accuracy: 0.9659 - val_loss: 0.4672 - val_accuracy: 0.8596
Epoch 5/5
21367/21367 [==============================] - 120s 6ms/sample - loss: 0.0561 - accuracy: 0.9810 - val_loss: 0.6432 - val_accuracy: 0.8496